<!DOCTYPE html>

<html>
	<head>
		<title>Here goes the title</title>
		<meta charset="utf-8" />
		<meta name="description" content="Here goes a description" />
		<meta name="keywords" content="Some keywords regarding the content" />
		<meta name="audience" content="All" />
		<meta name="author" content="Sabine Hueber" />
		<meta name="publisher" content="..." />
		<meta name="Robots" content="index,follow" />
		<meta name="Language" content="English" />
		<meta name="revisit-after" content="1 Day" />
		<meta name="Content-Language" content="en" />

		<link href="style.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
		<!-- ###DOCUMENT### Start -->
		<div id="page_margins">
			<div id="page" class="hold_floats">

				<div id="header">

					<div id="metanav">
						<!-- ###METANAV### Start -->
						<ul>
							<li><a href="#">Contact</a></li>
							<li><a href="#">Imprint</a></li>
						</ul>
						<!-- ###METANAV### End -->
					</div>

					<div id="headertitle">###HEADERTITLE###</div>
				</div>


				<div id="nav">
					<!-- ###TOPNAV### Start -->
					<div id="nav_main">
						<ul>
							<li><a href="#">Menu Item 1</a></li>
							<li><a href="#">Menu Item 2</a></li>
							<li id="current"><a href="#">Menu Item 3</a></li>
							<li><a href="#">Menu Item 4</a></li>
						</ul>
					</div>
					<!-- ###TOPNAV### End -->
				</div>


				<!-- 3 Column Content -->


				<!-- #col1: Left Column of the Content Area -->
				<div id="col1">
					<div id="col1_content" class="clearfix">
						<!-- ###SUBNAV### Start -->
						<ul id="submenu">
							<li><a href="#">Submenu Item 1</a></li>
							<li id="active"><a href="#">Submenu Item 2</a></li>
							<li><a href="#">Submenu Item 3</a>
								<ul>
									<li><a href="#">Subitem 1</a></li>
									<li><a href="#">Subitem 2</a></li>
								</ul>
							</li>
							<li><a href="#">Submenu Item 4</a></li>
						</ul>
						<!-- ###SUBNAV### End -->
					</div>
				</div>
				<!-- #col1: Left Column End -->

				<!-- #col2: Right Column of the Content Area -->
				<div id="col2">
					<div id="col2_content" class="clearfix">
						<div>
							<!-- ###CONTENTRIGHT### Start -->
							<h2>Right Column - Only Element</h2>
							<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
							   sed diam nonumy eirmod tempor invidunt ut labore et
							   dolore magna aliquyam erat, sed diam voluptua. At vero
							   eos et accusam et justo duo dolores et ea rebum. Stet
							   clita kasd gubergren, no sea takimata sanctus est Lorem
							   ipsum dolor sit amet.</p>
							<!-- ###CONTENTRIGHT### End -->
						</div>
					</div>
				</div>
				<!-- #col2: Right Column End -->

				<!-- #col3:  Middle Column of the Content Area -->
				<div id="col3">
					<div id="col3_content" class="clearfix">
						<div id="breadcrumb">###DATE###&nbsp;:::&nbsp;###BREADCRUMB###</div>
						<h1>###TITLE###</h1>
						<div>
							<!-- ###CONTENTMIDDLE### Start -->
							<h2>Middle Column - Element 1</h2>
							<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
							   sed diam nonumy eirmod tempor invidunt ut labore et
							   dolore magna aliquyam erat, sed diam voluptua. At vero
							   eos et accusam et justo duo dolores et ea rebum. Stet
							   clita kasd gubergren, no sea takimata sanctus est Lorem
							   ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
							   sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
							   labore et dolore magna aliquyam erat, sed diam voluptua. At
							   vero eos et accusam et justo duo dolores et ea rebum. Stet
							   clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
							   dolor sit amet.</p>
							<h2>Middle Column - Element 2</h2>
							<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
							   sed diam nonumy eirmod tempor invidunt ut labore et
							   dolore magna aliquyam erat, sed diam voluptua. At vero
							   eos et accusam et justo duo dolores et ea rebum. Stet
							   clita kasd gubergren, no sea takimata sanctus est Lorem
							   ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
							   sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
							   labore et dolore magna aliquyam erat, sed diam voluptua. At
							   vero eos et accusam et justo duo dolores et ea rebum. Stet
							   clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
							   dolor sit amet.</p>
							<!-- ###CONTENTMIDDLE### End -->
						</div>
					</div>
				</div>
				<!-- #col3: Middle Column End -->

				<!-- IE Column Clearing -->
				<div id="ie_clearing">&nbsp;</div>
				<!-- IE Column Clearing End -->


				<!-- 3 Column Content End -->


				<!-- Footer Start -->
				<div id="footer">
					Design: <a href="http://www.designeon.de">Sabine&nbsp;Hueber,&nbsp;designeon</a>
				</div>
				<!-- Footer End -->

			</div>
		</div>
		<!-- ###DOCUMENT### End -->
	</body>
</html>