# coding: utf-8

# #####
#
# Settings.cfg - A TYPO3 Documentation Project's Configuration File
#
# About Syntax:
#   See https://docs.python.org/2/library/configparser.html
#
# Put comments in separate lines!
#
# #####


# Attention:
#    LEAVE RIGHT SIDE EMPTY for a 'false' value like:
#       example_of_false_value =


[general]

; endless list of all of the general simple settings
; you can use in 'conf.py'

project     = Templating Tutorial: Basics
version     = 8.7
release     = 8.7
t3author    = Andrew Murphy
copyright   = since 2011 by the TYPO3 Documentation Team
description = A tutorial on designing a basic web page using TYPO3 Fluid.


[html_theme_options]

; for theme t3SphinxThemeRtd

github_branch        = 8.7
github_commit_hash   =
github_repository    = TYPO3-Documentation/TYPO3CMS-Tutorial-Templating
github_revision_msg  =
github_sphinx_locale =
project_contact      = mailto:documentation@typo3.org
project_discussions  =
project_home         =
project_issues       = https://github.com/TYPO3-Documentation/TYPO3CMS-Tutorial-Templating/issues
project_repository   = https://github.com/TYPO3-Documentation/TYPO3CMS-Tutorial-Templating
use_opensearch       =


[intersphinx_mapping]

; in this manual we actually use:

t3start      = https://docs.typo3.org/typo3cms/GettingStartedTutorial
t3editors    = https://docs.typo3.org/typo3cms/EditorsTutorial
t3ts45       = https://docs.typo3.org/typo3cms/TyposcriptIn45MinutesTutorial
t3extbasebook = https://docs.typo3.org/typo3cms/ExtbaseFluidBook
t3extbase    = https://docs.typo3.org/typo3cms/ExtbaseGuide
t3tsref      = https://docs.typo3.org/typo3cms/TyposcriptReference

# [extensions]

# sphinxExtTodo = sphinx.ext.todo

